<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :issue_type %>
    <!--%= form.number_field :issue_type %-->
    <%= form.select :issue_type, Post.issue_types.keys, selected: @post.issue_type %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <!--%= form.number_field :priority %-->
    <%= form.select :priority, Post.priorities.keys, selected: @post.priority %>

  </div>

  <div class="field">
    <%= form.label :status %>
    <!--%= form.number_field :status %-->
   <%= form.select :status, Post.statuses.keys, selected: @post.status %>

  </div>

  <div class="field">
   <%= form.label :user_id %>
   <%= form.select :user_id,
   options_for_select(User.all.collect {|u| ["#{u.lname},
   #{u.fname}", u.id]},
   selected: (@post.user ? @post.user.id : User.first.id)),
   {} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
