<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <strong><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</strong>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, "Title" %>
    <%= form.text_field :title, id: :post_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description, "Description" %>
    <%= form.text_area :description,  id: :post_description, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :issue_type, "Issue Type" %>
    <!--%= form.number_field :issue_type %-->
    <%= form.select :issue_type, Post.issue_types.keys, selected: @post.issue_type, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :priority, "Priority" %>
    <!--%= form.number_field :priority %-->
    <%= form.select :priority, Post.priorities.keys, selected: @post.priority, class: "form-control"%>

  </div>

  <div class="form-group">
    <%= form.label :status, "Status" %>
    <!--%= form.number_field :status %-->
    <%= form.select :status, Post.statuses.keys, selected: @post.status, class: "form-control"%>
  </div>

  <div class="form-group">
   <%= form.label :user_id %>
   <%= form.select :user_id,
   options_for_select(User.all.collect {|u| ["#{u.lname},
   #{u.fname}", u.id]},
   selected: (@post.user ? @post.user.id : User.first.id)),
   {} %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary", value:"Save Bug" %>
    <%= link_to 'Cancel', users_path, class: "btn btn-danger" %>
  </div>
<% end %>
