<p id="notice" class="alert alert-success"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Issue type:</strong>
  <%= @post.issue_type %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @post.priority %>
</p>

<p>
  <strong>Status:</strong>
  <%= @post.status %>
</p>

<p>
 <strong>User:</strong>
 <%= (@post.user.try(:lname) || "NA")%>
</p>

<%= link_to 'Edit', edit_post_path(@post), :class => "btn btn-primary" %>
<%= link_to 'Back', posts_path, :class => "btn btn-danger" %>
